
@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.image1{

    background-image: url(https://img.freepik.com/free-photo/3d-rendering-minimalist-interior-with-copy-space_23-2150943520.jpg?w=740&t=st=1720895993~exp=1720896593~hmac=9c027ffca6aa1c078ae89d42211a88f94638dc2564df79311a2bef0e0773e3c2);
    height: 100vh;
    width: 100vw;
}
.bg-text{

    font-size: 30px;
    font-weight: bold;
    color: black;
    padding: 150px;
    width: 400px;
    font-family: "caveat";
}
.about-owner{
    background-image: url(https://img.freepik.com/premium-photo/3d-rendering-minimalist-interior-with-copy-space_23-2150943534.jpg);
    width: 100vw;
    height: 40px;
    border: 1px solid black;
}
.owner-txt{
    
    font-family: "caveat";
}
.bottom-section{

    margin-top: 50px;
}
.card{
    border-radius: 30px;
    padding: 20px;
    margin: 100px;
    padding: 20px;
}
.fun-name{

    font-size: 20px;
    text-align: center;
    
}
.cost-name{
    text-align: center;
    font-weight: bold;

}
.text-link{

    text-align: center;
}